.sc-table {
  .pagination-wrap {
    text-align: center;
  }

  .action-list {
    text-align: center;
    & > span + span {
      margin-left: 10px;
    }
  }

  .data-tables-column {
    .el-table__column-filter-trigger {
      display: none;
    }
  }

  .el-table__column-filter-popover {
    display: inline-flex;
  }
}
